.chat {
    height: calc(100vh - 8vmax);
    overflow-y: scroll;
    display: grid;
    grid-template-rows: calc((100vh - 8vmax) * 0.8) calc((100vh - 8vmax) * 0.2);
}
.chat__message-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.message {
    color: white;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 0.25rem;
}

.message--mine {
    background-color: olivedrab;
    align-self: flex-start;
}

.message--other {
    background-color: indigo;
    align-self: flex-end;
}

.chat__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    column-gap: 1rem;
}
.chat__label {
    flex-grow: 2;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.chat__input {
    background-color: var(--background-color-light);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    align-self: center;
    color: var(--foreground-color);
    flex-grow: 2;
}