.search {
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    background-color: var(--background-color-light);
    margin-left: 0.5rem;
}

.search label {
    display: flex;
    flex-grow: 2;
    align-items: center;
    padding-left: 1rem;
}

.search input {
    flex-grow: 2;
    align-self: stretch;
    border-radius: 0 1rem 1rem 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

    background-color: transparent;
    border: none;
    /* padding-left: 0.5rem; */
    color: var(--foreground-color);
}