.screen {
  display: grid;
  grid-template-areas: "area";

  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  background-image: url(https://images.pexels.com/photos/391722/pexels-photo-391722.jpeg?cs=srgb&dl=android-wallaper-hd-wallpaper-iphone-wallpaper-391722.jpg&fm=jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}
.toast {
  grid-area: area;
  z-index: 3;
  place-self: end;
}
.page {
  grid-area: area;
  z-index: 1;
}