.app__summary {
    /* display: flex; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--foreground-color);
}

.app-menu__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;
    color: var(--foreground-color);
}

.app__icon {
    background-color: firebrick;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__icon-image {
    width: 1.75rem;
    height: 1.75rem;
}

.app__menu {
    /* margin-left: auto; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    min-height: 200px;
    width: 100%;

    border-color: var(--foreground-color);
    border-width: 1px;
    border-radius: 0.25rem;
    border-style: solid;

    padding: 1rem;
}

.card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__title {
    font-size: 2rem;
}

.card__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__footer * {
    text-decoration: none;
}